    <!-- About Section -->
   

<section id="about" class="container content-section text-center">
        <div class="row">
           <div class="col-lg-8 col-lg-offset-2">
                <h2>About SG</h2>
            </div>

            <div class="col-lg-6">
 <p> I am currently a postdoc in Mechanical Engineering at the University of Minnesota. For more information, go to <a class="page-scroll" href="#research">Research</a>.</p>
		    <p> I received my PhD in Chemical Engineering at Case Western Reserve University in 2017. My advisor was <a href="http://engineering.case.edu/profiles/rxs192">Professor R. Mohan Sankaran</a>. I also have a M.Tech degree in Materials Science and Engineering from the Indian Institute of Technology, Kharagpur and a M.S. degree in Physics from the Bose Institute in Kolkata. For more information, go to <a class="page-scroll" href="#cv">CV</a>.</p>
		    <p>My research has been recognized by the American Vacuum Society (AVS) and Electrostatics Society of America (ESA), including the <a href="http://thedaily.case.edu/engineering-phd-student-wins-award-work-plasma-science-technology/">2016 Coburn and Winters Student Award in Plasma Technology</a>. For more information, go to <a class="page-scroll" href="#publications">Publications</a>.</p>


	    </div>

            <div class="col-lg-6">

<img src="img/plasma_reduction.png" class="header_logo" alt="plasma_redu"></img> 

<br></br>
<br></br>

<p> I enjoy visualizing and expressing my work in the form of 3D models and process flow schematics. My 3D images are rendered using various visualization softwares including, but not limited to Autodesk 3Ds Max, Adobe Photoshop, ChemDraw and SolidWorks. Some of my renditions have been featured on dustflap of  Nature Communications, the Journal of Vaccum Science and Technology-A, and the cover of Journal of Physics D. For more examples, please go to <a class="page-scroll" href="#images">Images</a>.</p>

            </div>
        </div>
    </section>


