    <!-- About Section -->
   

<section id="about" class="container content-section text-center">
 <!--       <div class="row">	-->
          <!-- <div class="col-lg-8 col-lg-offset-2">		-->
                <h2>About SG</h2>
            

            <div class="col-lg-6">
		    <p> I take hardware technology from theoretical concept to production at-scale. My research focuses on developing novel approaches to wearable, stretchable electronics and leveraging additive technology for energy harvesting and storage. For more information, go to <a class="page-scroll" href="#publications">Publications</a>.</p>
		    <p> I want to implement next-generation scalable additive manufacturing for materials discovery, and deliver nano- to macro-structured devices for electronic and medical applications. I am interested in the complex reactions of systems that integrate heat-, light- and charge- transfer.  These reactions are free from chemical interference and can be created under controlled physical and chemical conditions.  Understanding the fundamental mechanism of these reactions is the key to the development of a sustainable and energy efficient future.</p>
		    <p> I received my PhD in Chemical Engineering at Case Western Reserve University focusing on plasma-chemistry research.</p>
		  
	    </div>

            <div class="col-lg-6">
<img src="img/stage.png" class="header_logo" alt="plasma_redu"></img> 

<br></br>
<br></br>

<p> I enjoy visualizing and expressing my work in the form of 3D models and process flow schematics. My 3D images are rendered using various visualization softwares including, but not limited to Autodesk 3Ds Max, Solidworks, Adobe Photoshop, ChemDraw and Maya. Some of my renditions have been featured on dustflap of  Nature Communications, Science Advances, and the cover of Journal of Physics D. For more examples, go to <a class="page-scroll" href="#images">Images</a>.</p>

            </div>
<!--        </div>		-->
    </section>


