    <section id="publications" class="content-section text-center">
        <div class="publications-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
		
					
		<h1>Patents</h1>
<p><b>Composition comprising directly written metal features and method of formation </b> United States Patent Application No. 15/953134 (2018)</p>
		</div>
		<div class="col-lg-8 col-lg-offset-2">
		  <h1>Publications</h1>
		</div>
		<div class="col-lg-10">
<p><a target='_blank' href="http://advances.sciencemag.org/content/5/1/eaat5778" class="btn btn-default btn-lg"> <i class="fa fa-file-text fa-fw"></i>  LINK</a> &nbsp; &nbsp; <b>Catalyst-free, highly selective synthesis of ammonia from nitrogen and water by a plasma electrolytic system</b></p>

<p><a target='_blank' href="https://app.dimensions.ai/details/publication/pub.1106203527?and_facet_journal=jour.1134073" class="btn btn-default btn-lg"> <i class="fa fa-file-text fa-fw"></i>  LINK</a> &nbsp; &nbsp; <b>Tuning resistivity in ink-jet printed electrical structures on paper by plasma reduction of particle-free, stabilizer-free silver ink</b></p>
					
<p><a target='_blank' href="http://iopscience.iop.org/article/10.1088/1361-6463/aad26f" class="btn btn-default btn-lg"> <i class="fa fa-file-text fa-fw"></i>  LINK</a> &nbsp; &nbsp; <b>Characterization of the state of nanoparticle aggregation in non-equilibrium plasma synthesis systems</b></p>
			
<p><a target='_blank' href="http://jes.ecsdl.org/content/164/13/D818.short" class="btn btn-default btn-lg"> <i class="fa fa-file-text fa-fw"></i>  LINK</a> &nbsp; &nbsp; <b>Quantitative Study of Electrochemical Reduction of Ag+ to Ag Nanoparticles in Aqueous Solutions by a Plasma Cathode</b></p>

<p>Summary: Solvated electrons are one of the strongest known reducing agent known. This work presents the fundamental understanding of how silver ions reduce electrochemically in the presence of solvated electrons that are created by a plasma at the surface of water. </p>

<p><a target='_blank' href="http://pubs.acs.org/doi/abs/10.1021/acsmacrolett.6b00919" class="btn btn-default btn-lg"> <i class="fa fa-file-text fa-fw"></i>  LINK</a> &nbsp; &nbsp; <b>Microplasma-Induced in Situ Formation of Patterned, Stretchable Electrical Conductors</b></p>

<p>Summary: Here, we incorporated metal ion containing elastomer composites, cast them as thin films and site-selectively patterned it (direct-write patterning) with an atmospheric-pressure dielectric barrier discharge to form reduced metal agglomerates. We showed that uniaxial strain on these features allows conservation of electrical conductivity of the features up to 30% strain.</p>
			
<p><a target='_blank' href="http://pubs.acs.org/doi/abs/10.1021/acs.nanolett.7b00730" class="btn btn-default btn-lg"> <i class="fa fa-file-text fa-fw"></i>  LINK</a> &nbsp; &nbsp; <b>Tuning Optical Signatures of Single- and Few-Layer MoS2 by Blown-Bubble Bulge Straining up to Fracture</b></p>

<p>Summary: This publication is a part of a collaborative effort showing the effect of two-dimensional strain on a monolayer of a two-dimensional material such as molybdenum disulfide. We developed a unique bulging technique that ensures uniform radial straining.</p>

<p><a target='_blank' href="http://onlinelibrary.wiley.com/doi/10.1002/ppap.201700079/full" class="btn btn-default btn-lg"> <i class="fa fa-file-text fa-fw"></i>  LINK</a> &nbsp; &nbsp; <b>Correlating charge fluence with nanoparticle formation during in situ plasma synthesis of nanocomposite films</b></p>

<p>Summary: This report presents a fundamental understanding of plasma-induced reduction of metal ions embedded in thin films. We studied the effects of plasma paramters such as plasma power, duty cycle and exposure time. </p>

                  
<p><a target='_blank' href="https://www.researchgate.net/publication/282768249_Atmospheric-Pressure_Plasma_Reduction_of_Metal_Cation-Containing_Polymer_Films_to_Produce_Electrically_Conductive_Nanocomposites_by_an_Electrodiffusion_Mechanism" class="btn btn-default btn-lg"> <i class="fa fa-file-text fa-fw"></i>  LINK</a> &nbsp; &nbsp; <b>Atmospheric-pressure plasma reduction of metal cation-containing polymer films to produce electrically conductive nanocomposites by an electrodiffusion mechanism</b></p>

<p>Summary: This work presents the fundamental understanding of how the atmospheric-presssure microplasma induces diffusion of metal ions embedded in a polymer matrix under the effect of an external electric field.</p>

             
<p><a target='_blank' href="https://www.researchgate.net/publication/283888611_Atmospheric-pressure_dielectric_barrier_discharge_with_capillary_injection_for_gas-phase_nanoparticle_synthesis" class="btn btn-default btn-lg"> <i class="fa fa-file-text fa-fw"></i>  LINK</a> &nbsp; &nbsp; <b>Atmospheric-pressure dielectric barrier discharge with capillary injection for gas-phase nanoparticle synthesis</b></p>

<p>Summary: This work presents the use and development of an Argon based novel atmospheric-pressure dielectric barrier discharge (DBD) reactor for gas-phase synthesis of nickel nanoparticles. This publication also shows how adiabatic cooling due to expansion can be used to control the agglomeration of nanoparticle nuclei and subsequently, give us precise control on the size distribution of the nanoparticles.</p>


<p><a target='_blank' href="http://www.researchgate.net/publication/272168188_Generation_of_a_direct-current_atmospheric-pressure_microplasma_at_the_surface_of_a_liquid_water_microjet_for_continuous_plasma-liquid_processing" class="btn btn-default btn-lg"> <i class="fa fa-file-text fa-fw"></i>  LINK</a>  &nbsp; &nbsp; <b>Generation of a direct-current, atmospheric-pressure microplasma at the surface of a liquid water microjet for continuous plasma-liquid processing</b></p>

<p>Summary: This work presents the generation of a direct-current, atmospheric-pressure microplasma at the surface of a liquid water microjet that enables solution species to be transported by forced convection. Using this technique, we have been able to synthesize high density silver nanoparticles in water medium at a rate of 10 - 20 mL/min.</p>


<p><a target='_blank' href="http://www.researchgate.net/publication/260370474_Fabrication_of_Electrically_Conductive_Metal_Patterns_at_the_Surface_of_Polymer_Films_by_Microplasma-Based_Direct_Writing" class="btn btn-default btn-lg"> <i class="fa fa-file-text fa-fw"></i>  LINK</a> &nbsp; &nbsp; <b>Fabrication of Electrically Conductive Metal Patterns at the Surface of Polymer Films by Microplasma-Based Direct Writing</b></p>

<p>Summary: This work describes our direct-write process to produce electrically conductive metal patterns at the surface of polymers.</p>
                </div>
            </div>
        </div>
    </section>
